

.App{
  background-color: rgb(25, 0, 40);
  height:fit-content;
  margin: 0px;
  min-height: 961px;
}

/** Top nav */

#topNav{
  background-color: rgb(58, 1, 92);
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 8% 25% 60% 7%;
  flex-direction: row;
}

#topNav img{
  align-self: center;
  height: 80px;
  margin-left: 20px;
}

#topNav h1{
  margin-left: 3%;
  align-self: center;
  margin: 0px;
  margin-left: 20px;
  color: rgb(128, 43, 177);
  font-size: 5em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 5px;
  text-shadow: 2px 2px 1px rgb(29, 13, 55);
}

#topNav button {
  align-self: center;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 150px;
  border-radius: 10px;
  border: 1px;
  background-color: rgb(58, 1, 92);
  color: rgb(200, 141, 255);
  font-size: 2em;
  font-weight: bolder;
  transition: .1s;
}

#topNav button:hover{
  background-color: rgb(97, 20, 141);
  cursor: pointer;
  font-size: 2.1em;
  transition: .1s;
}

#topNav button:active{
  background-color: rgb(46, 13, 66);
  cursor: pointer;
  height: 60%;
  font-size: 1.95em;
  transition: .05s;
}

#newButton{
  margin-right: 55px;
}

/** Show songs */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortButtons{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80px;
  margin-top: 70px;
  align-items: center;
  justify-content: end;
}

.sortFavButton,
.sortAbcButton{
  width: 100px;
  height: 40px;
  border: 0;
  border-radius: 15px;
  margin-left: 10px;
  background-color: rgb(83, 29, 113);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.sortFavButton,
.sortAbcButton{
  cursor: pointer;
}

#songList{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(34, 1, 53);
  border: 2px solid rgb(17, 0, 28);
}

.songBlock {
  display: grid;
  grid-template-columns: 10% 82% 8%;
  width: 100%;
  height: 80px;
}

.songBlock:hover {
  border-radius: 15px;
  background-image: linear-gradient(to right, rgb(34,1,35), rgb(50, 0, 79));
  cursor: pointer;
}

.songIcon{
  align-self: center;
  justify-self: center;
  height: 50px;
}

.songInfo{
  margin-left: 20px;
}

.songName{
  margin: 0px;
  margin-top: 10px;
  font-size: 2em;
  color: white;
}

.songArtist{
  color: grey;
  margin: 0px;
}

.songFavorite {
  height: 50px;
  align-self: center;
}

.lineSeparator{
  background-color: rgb(17, 0, 28);
  width: 98%;
  height: 1px;
}

/** Show One Song */

#oneSong{
  background-color: rgb(34, 1, 53);
  border-radius: 20px;
  margin-top: 80px;
  width: 93%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 25% 10% 45% 20%;
}

#musicIcon{
  justify-self: center;
  align-self: center;
  grid-row: 1/5;
  grid-column: 1/2;
  margin: 0px;
}

#favIcon{
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: top;
  justify-self: end;
  margin-right: 10px;
  margin-top: 10px;
  height: 80px;
}

#oneSongName{
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: center;
  align-self: end;
  color: rgb(210, 162, 238);
  font-size: 3.5em;
  margin: 0px;
}

#oneSongArtist{
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  align-self: top;
  color: rgb(164, 129, 184);
  font-weight: bold;
  font-size: 1.8em;
  margin: 0px;
}

#oneSongAlbum{
  grid-row: 3/4;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
  color: rgb(212, 197, 221);
  font-size: 2em;
  margin: 0px;
  width: 80%;
}

#oneSongRemoveButton,
#oneSongEditButton,
#oneSongBackButton{
  grid-row: 4/5;
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 1, 53);
  border: 0px;
  justify-self: center;
  align-self: center;
  border-radius: 100%;
  cursor: pointer;
  width: 8%;
  color: rgb(164, 129, 184);
  font-weight: bold;
  font-size: 2em;
}

#oneSongRemoveButton {
  margin-left: 150px;
}
#oneSongBackButton {
  margin-right: 150px;
}

#oneSongBackButton img{
  width: 100%;
}
#oneSongRemoveButton img{
  width: 90%;
}
#oneSongEditButton img{
  width: 120%;
}


#oneSongBackButton img:hover{
  width: 110%;
}
#oneSongEditButton img:hover{
  width: 130%;
}
#oneSongRemoveButton img:hover{
  width: 100%;
}


/** New song */

#mainNewSong{
  padding-top: 50px;
}

#divNewSong{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 50%;
  color: rgb(211, 199, 223);
  background-color: rgb(50, 0, 79);
  box-shadow: 2px 2px 10px black;
}

#divNewSong h1{
  font-size: 3em;
}

#divNewSong form label{
  font-size: 1.5em;
}

#nameInput,
#artistInput,
#albumInput{
  border-radius: 15px;
  background-color: rgb(32, 4, 48);
  border: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 1.5em;
  color: white;
}

#timeInput{
  border-radius: 15px;
  border: 0;
  background-color: rgb(32, 4, 48);
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 1.3em;
  color: white;
}

#favInput{
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 40px;
}

#submitInput{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  margin-bottom: 15px;
  background-color: rgb(85, 18, 123);
  border: 0px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(164, 129, 184);
  font-weight: bold;
  font-size: 1.8em;
}

/** Edit Song */

/** New song */

#mainEditSong{
  padding-top: 50px;
}

#divEditSong{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 50%;
  color: rgb(211, 199, 223);
  background-color: rgb(50, 0, 79);
  box-shadow: 2px 2px 10px black;
}

#divEditSong h1{
  font-size: 3em;
}

#divEditSong form label{
  font-size: 1.5em;
}

/** Error */

